

<nav class="navbar navbar-dark bg-dark m-3">
  <h1 class="display-1 text-light"><strong>CrossOver Todos</strong></h1>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
</nav>

<div class="container ">
  <div class="row">
    <div class="col">

      <div class="card border border-dark">
        <h1 class="card-header bg-warning"> <strong class="text-light">IN PROGRESS</strong></h1>

        <div *ngFor="let inProgressTodo of todosInProgress">
          <div class="card m-1">
            <div class="card-body">
              <h4 class="card-title">{{inProgressTodo.title}}</h4>
              <p class="card-text">{{inProgressTodo.description}}</p>
              <h6 class="align-text-bottom text-right">{{inProgressTodo.author?.username}}</h6>
            </div>
          </div>
        </div>

        <a (click)="showNewItem()" class="text-center">(Add New Item)</a>

        <div class="card m-1" *ngIf="isAdding">
          <div class="card-body">
            <div class="card-title">
              <input type="text" class="form-control" [(ngModel)]="todoTmp.title" id="title" name="title" placeholder="Title" />
            </div>

            <div class="card-text" >
              <input type="text" class="form-control" [(ngModel)]="todoTmp.description" id="description" name="description" placeholder="Description" />
            </div>

            <div class="text-right">
              <button type="button"  (click)="cancelAdding()" class="btn btn-warning mt-1"  >Cancel</button>
              <button type="button"  (click)="addNewItem()" class="btn btn-success mt-1"  >Add</button>
            </div>


        </div>
        </div>




      </div>

    </div>

    <div class="col">
      <div class="card border border-dark">
        <h1 class="card-header bg-success"> <strong class="text-light">Completed</strong></h1>
        <div *ngFor="let todoCompleted of todosCompleted">
          <div class="card m-1">
            <div class="card-body">
              <h4 class="card-title">{{todoCompleted.title}}</h4>
              <p class="card-text">{{todoCompleted.description}}</p>
              <h6 class="align-text-bottom text-right">{{todoCompleted.author?.username}}</h6>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
